@charset "UTF-8";

/* CSS Document */

/* @fontface */

@font-face {
  	font-family: "Ubuntu Mono Bold";
  	src: url("../fonts/ubuntumono-bold.eot") format("eot");
    src: url("../fonts/ubuntumono-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ubuntumono-bold.woff") format("woff"),
         url("../fonts/ubuntumono-bold.ttf") format("truetype");         
}

@font-face {
  	font-family: "Ubuntu Light";
  	src: url("../fonts/ubuntu-light.eot") format("eot");
    src: url("../fonts/ubuntu-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ubuntu-light.woff") format("woff"),
         url("../fonts/ubuntu-light.ttf") format("truetype");         
}

@font-face {
  	font-family: "Ubuntu Bold";
  	src: url("../fonts/ubuntu-bold.eot") format("eot");
    src: url("../fonts/ubuntu-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ubuntu-bold.woff") format("woff"),
         url("../fonts/ubuntu-bold.ttf") format("truetype");         
}

@font-face {
  	font-family: 'Ubuntu Mono Bold';
 	src: url('../fonts/ubuntumono-bold.eot') format('eot'), url('../fonts/ubuntumono-bold.woff') format('woff'), url('../fonts/ubuntumono-bold.ttf') format('truetype'); 
}
	 
@font-face {
  	font-family: 'Ubuntu Light';
 	src: url('../fonts/ubuntu-light.eot') format('eot'), url('../fonts/ubuntu-light.woff') format('woff'), url('../fonts/ubuntu-light.ttf') format('truetype');
}
	 
@font-face {
  	font-family: 'Ubuntu Bold';
 	src: url('../fonts/ubuntu-bold.eot') format('eot'), url('../fonts/ubuntu-bold.woff') format('woff'), url('../fonts/ubuntu-bold.ttf') format('truetype');
}
	 
/* layout */

html,
body {
	margin: 0;
 	padding: 0;
}
	
body {
	background-color: #000;
}
	
nav {
	position: fixed;
	bottom: 20px;
	height: auto;
	width: auto;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 36px;
	border-radius: 0px 4px 4px 0;
	background-color: rgba(0, 0, 0, .80);
	z-index: 2000;
}
	
#container {
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%; 
	display: none;
}
	
#preloader {
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: #000;
}
	
#loading {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	width: 100%;
}
	
#openingimagebox {
	position: static;
	margin-top: 0;
	margin-left: 0;
	width: 100%;
	height: 40%;
	background: url(../images/Selectric.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: inset 0 0 60px -30px rgba(0,0,0,.6);
}
	
#typeballimagebox {
	position: static;
	margin-top: 80px;
	margin-left: 0;
	width: 100%;
	height: 300px;
	background-image: url(../images/Typeball.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: auto 140%;
	box-shadow: inset 0 0 60px -30px rgba(0,0,0,.6);
}
	
#composerimagebox {
	position: static;
	margin-top: 80px;
	margin-left: 0;
	width: 100%;
	height: 300px;
	background-image: url(../images/IBM-Type.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: auto 150%;
	box-shadow: inset 0 0 60px -30px rgba(0,0,0,.6);
}
	
#sitetitle {
	position: static;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: auto;
	text-align: center;
	overflow: hidden;
}
	
#sitetitle .title {
	display: inline;
	background-color: #C03;
}
	
#openingcopy {
	position: static;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 400px;
	max-width: 90%;
	height: auto;
	color: #FFF;
	border-bottom: 3px solid #C03;
}
	
.secondarycopy {
	position: relative;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding-right: 410px;
	width: 390px;
	height: auto;
	color: #FFF;
	background-color: #000;
	border-top: 3px solid #C03;
	border-bottom: 3px solid #C03;
}

.secondarytitlebox {
	position: absolute;
	right: 0;
	margin-top: 8px;
	height: auto;
	width: 390px;
}

#content1 {
	position: relative;
	margin-top: 0;
	margin-bottom: -80px;
	padding: 0;
	width: 100%;
	height: 990px;
	overflow: hidden;
}
	
#content2 {
	position: relative;
	margin-top: 0;
	margin-bottom: -80px;
	padding: 0;
	width: 100%;
	height: 1090px;
	overflow: hidden;
}
	
#content3 {
	position: relative;
	margin-top: 0;
	margin-bottom: -80px;
	padding: 0;
	width: 100%;
	height: 1100px;
	overflow: hidden;
}
  
#timeline {
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: 0;
	margin-left: -1.5px;
	width: 3px;
	height: 100%;
	background-color: #C03;
	z-index: 1000;
}

#timelinejoint {
	width: 3px;
	height: 40px;
	position: static;
	top: 0;
	left: 2px;
	margin-left: auto;
	margin-right: auto;
	background-color: #C03;
	z-index: 1000; }

#leftcontainer {
	position: static;
	float: left;
	left: 0;
	margin-top: 80px;
	width: 50%;
	height: auto;
}
	
#rightcontainer {
	position: static;
	float: right;
	right: 0;
	margin-top: 80px;
	width: 50%;
	height: auto;
}

.left {
	position: relative;
	float: left;
	margin-left: -20px;
	margin-top: 0;
	margin-bottom: 80px;
	
	&:nth-child(even) {
    	margin-left: -20px;
    }
    
    padding: 0;
    width: 100%;
}

.right {
	position: relative;
	float: right;
	margin-right: -20px;
	margin-top: 0;
	margin-bottom: 80px;
	
	&:nth-child(even) {
    	margin-right: -20px;
    }
    
    padding: 0;
    width: 100%;
}

.lefttext {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 350px;
	max-width: 80%;
	height: auto;
	text-align: right;
}
	
.righttext {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 350px;
	max-width: 80%;
	height: auto;
	text-align: left;
}
	
#IBMLogo {
	position: relative;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 100px;
	height: auto;
	border: 3px solid #C03;
}
	
#IBMLogotext {
	position: relative;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	width: 300px;
	height: auto;
}
 
.come-in {
	right: 100%;
	animation: come-in .8s ease forwards;
	-webkit-animation: come-in .8s ease forwards;
}
  
.come-in-right {
	left: 100%;
	animation: come-in-right .8s ease forwards;
	-webkit-animation: come-in-right .8s ease forwards;
}

.already-visible {
	right: 0;
	animation: none;
	-webkit-animation: none;
}
  
.already-visible-right {
	left: 0;
	animation: none;
	-webkit-animation: none;
}

@keyframes come-in {
  	to { 
  		right: 0;
  	}
}
  
@keyframes come-in-right {
  	to { 
  		left: 0;
  	}
}

@-webkit-keyframes come-in {
  	to { 
  		right: 0;
  	}
}
  
@-webkit-keyframes come-in-right {
  	to { 
  		left: 0;
  	}
}
  
.row1 {
	height: 200px;
}
	
.row2 {
	height: 200px;
}
	
.row3 {
	height: 350px;
}
	
.row4 {
	height: 300px;
}
	
.row5 {
	height: 200px;
}
	
.row6 {
	height: 350px;
}
	
.row7 {
	height: 250px;
}
	
.row8 {
	height: 250px;
}
	
.row9 {
	height: 330px;
}

/* styles */

::selection {
	background: #666; /* Safari */
}
	
::-moz-selection {
	background: #666; /* Firefox */
}

a:link {
	text-decoration: none;
	text-transform: uppercase;
	color: #C03;
}
	
a:hover {
	color: #FFF;
}
	
.highlight {
	padding-right: 4px;
	padding-left: 4px;
}

	
.title {
	font-family: Ubuntu Mono Bold;
	font-size: 65px;
	line-height: 80px;
	margin: 0;
	text-align: center;
}
	
.secondarytitle {
	font-family: Ubuntu Mono Bold;
	font-size: 45px;
	line-height: 45px;
	text-align: right;
	color: #C03;
	margin: 0;
}
	
.bodyintro {
	font-family: Ubuntu Light;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	color: #FFF;
	margin-bottom: 12px;
}

.bodybold {
	font-family: Ubuntu Bold;
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	margin: 0;
}
	
.body {
	font-family: Ubuntu Light;
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	margin: 0;
}
	
.navtext {
	font-family: Ubuntu Mono Bold;
	font-size: 12px;
	line-height: 16px;
	color: #C03;
	margin: 0;
}
	
.loadingtext {
	font-family: Ubuntu Mono Bold;
	font-size: 12px;
	line-height: 16px;
	color: #C03;
	text-align: center;
}
	
.logotext {
	font-family: Ubuntu Mono Bold;
	font-size: 12px;
	line-height: 16px;
	color: #C03;
	text-align: center;
}
	
ul {
	list-style-type:square;
	margin: 0;
	padding: 0;
}
	
.red {
	color: #C03;
	text-align: right;
}
	
.white {
	color: #FFF;
}
	
.image {
	max-width: 80%;
}
	
@media only screen and (max-width: 960px) {
	.secondarycopy {
		position: relative;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		padding-right: 0;
		width: 90%;
		height: auto;
		color: #FFF;
		background-color: #000;
		border-top: 3px solid #C03;
		border-bottom: 3px solid #C03;
	}

	.secondarytitlebox {
		position: static;
		right: 0;
		margin-top: 8px;
		height: auto;
		width: auto;
	}
		
	.secondarytitle {
		text-align: center;
	}
}