/* CSS Document */

@charset "UTF-8";

/* layout */

html {
	margin: 0;
 	padding: 0;
	width: 100%;
 	height: 100%;
 	background-color: #0000FF;
 	 	
 	/* background color animation */
	-webkit-animation-name: background-color-change;
	-moz-animation-name: background-color-change;
	-ms-animation-name: background-color-change;
	-o-animation-name: background-color-change;
	animation-name: background-color-change;
	
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-ms-animation-timing-function: ease-in-out;
	-o-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-ms-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
}

/* fonts */

@font-face {
  	font-family: 'Fira Sans Light';
 	 src: url('../fonts/FiraSans-Light.eot') format('eot'), url('../fonts/FiraSans-Light.woff') format('woff'), url('../fonts/FiraSans-Light.ttf') format('truetype');
}

@font-face {
  	font-family: 'Fira Sans Light Italic';
 	 src: url('../fonts/FiraSans-LightItalic.eot') format('eot'), url('../fonts/FiraSans-LightItalic.woff') format('woff'), url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
}

@font-face {
  	font-family: 'Fira Sans Bold';
 	 src: url('../fonts/FiraSans-Bold.eot') format('eot'), url('../fonts/FiraSans-Bold.woff') format('woff'), url('../fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  	font-family: 'Fira Sans Bold Italic';
 	 src: url('../fonts/FiraSans-BoldItalic.eot') format('eot'), url('../fonts/FiraSans-BoldItalic.woff') format('woff'), url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  	font-family: 'Fira Mono Regular';
 	 src: url('../fonts/FiraMono-Regular.eot') format('eot'), url('../fonts/FiraMono-Regular.woff') format('woff'), url('../fonts/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'Fira Mono Medium';
 	 src: url('../fonts/FiraMono-Medium.eot') format('eot'), url('../fonts/FiraMono-Medium.woff') format('woff'), url('../fonts/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  	font-family: 'Fira Mono Bold';
 	 src: url('../fonts/FiraMono-Bold.eot') format('eot'), url('../fonts/FiraMono-Bold.woff') format('woff'), url('../fonts/FiraMono-Bold.ttf') format('truetype');
}

body, h1 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

body {
	font-family: 'Fira Sans Light';
	font-size: 16px;
	line-height: 24px;
}

h1 {
	font-family: 'Fira Mono Bold';
	font-size: 24px;
	line-height: 36px;
}

a, a:visited {
	display: inline-block;
    position: relative;
	color: #FFFFFF;
	text-decoration: none;
}

a:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

/* styles */

::selection {
    background-color: #000000;
}

::-moz-selection {
    background-color: #000000;
}

#something-is-near {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	
	/* vertically and horizontally center */
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* keyframes */

/* background color animation */

@-webkit-keyframes background-color-change {
	0% {
    	background-color: #000000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@-moz-keyframes background-color-change {
	0% {
    	background-color: #000000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@-ms-keyframes background-color-change {
	0% {
    	background-color: #000000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@-o-keyframes background-color-change {
	0% {
    	background-color: #000000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@keyframes background-color-change {
	0% {
    	background-color: #000000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}