/* CSS Document */

@charset "UTF-8";

/* layout */

* {
	margin: 0;
 	padding: 0;
}

html {
	width: 100%;
 	height: 100%;
 	background-color: #0000FF; /* fallback */
 	 	
 	/* background color animation */
	-webkit-animation: background-color-change 1s ease-out 1;
	-moz-animation: background-color-change 1s ease-out 1;
	-ms-animation: background-color-change 1s ease-out 1;
	-o-animation: background-color-change 1s ease-out 1;
	animation: background-color-change 1s ease-out 1;
}

body {
	height: 100%;
	font-size: 16px;
}

#name, #navigation {
	height: 6em;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

#name h1 {
	display: inline-block;
	margin-bottom: 0;
	padding-right: .25em;
   	border-right: 2px solid transparent; /* fallback */
	text-align: center;
	
	/* blinking text cursor animation */
	-webkit-animation: blinking-text-cursor 1s step-start 0s infinite;
	-moz-animation: blinking-text-cursor 1s step-start 0s infinite;
	-ms-animation: blinking-text-cursor 1s step-start 0s infinite;
	-o-animation: blinking-text-cursor 1s step-start 0s infinite;
	animation: blinking-text-cursor 1s step-start 0s infinite;
}

#navigation h3 {
	margin-bottom: .75em;
}

#push {
	height: 2em;
}

#wrapper {
	width: 36em;
	max-width: 90%;
	min-height: 100%;
	margin-top: -10em;
	margin-right: auto;
	margin-bottom: -10em;
	margin-left: auto;
}

#content {
	padding-top: 10em;
	padding-bottom: 10em;
}

#content :nth-last-child(1), #content :nth-last-child(2) {
	margin-bottom: 0;
}

.project-image, .project-image img {
	display: block;
	position: relative;
	width: 100%;
}

.project-image-caption {
	position: absolute;
	bottom: 0;
	width: auto;
	padding-top: .25em;
	padding-right: .5em;
	padding-bottom: .25em;
	padding-left: .5em;
	background-color: #000;
	background-color: rgba(0, 0, 0, .6);
}

/* fonts */

@font-face {
  	font-family: "Fira Sans";
 	src: url("../fonts/FiraSans-Light.eot") format("eot"), url("../fonts/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans-Light.ttf") format("truetype");
}

@font-face {
  	font-family: "Fira Sans";
 	src: url("../fonts/FiraSans-LightItalic.eot") format("eot"), url("../fonts/FiraSans-LightItalic.woff") format("woff"), url("../fonts/FiraSans-LightItalic.ttf") format("truetype");
  	font-style: italic;
}

@font-face {
  	font-family: "Fira Sans";
 	src: url("../fonts/FiraSans-Bold.eot") format("eot"), url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
  	font-family: "Fira Sans";
 	src: url("../fonts/FiraSans-BoldItalic.eot") format("eot"), url("../fonts/FiraSans-BoldItalic.woff") format("woff"), url("../fonts/FiraSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
  	font-style: italic;
}

@font-face {
  	font-family: "Fira Mono";
 	src: url("../fonts/FiraMono-Regular.eot") format("eot"), url("../fonts/FiraMono-Regular.woff") format("woff"), url("../fonts/FiraMono-Regular.ttf") format("truetype");
}

@font-face {
  	font-family: "Fira Mono";
  	font-weight: bold;
 	src: url("../fonts/FiraMono-Bold.eot") format("eot"), url("../fonts/FiraMono-Bold.woff") format("woff"), url("../fonts/FiraMono-Bold.ttf") format("truetype");
}

/* styles */

::selection {
	color: #FFF;
    background-color: #000;
}

::-moz-selection {
	color: #FFF;
    background-color: #000;
}

p, h1, h3, ul, a {
	color: #FFF;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

p, ul {
	font-family: "Fira Sans";
	font-size: 1em; /* 16 x 1 = 16 */
}

h1 {
	font-family: "Fira Sans";
	font-size: 1.5em; /* 16 x 1.5 = 24 */
}

h3 {
	font-family: "Fira Mono";
	font-size: .75em; /* 16 x .75 = 12 */
	letter-spacing: 1px;
	text-transform: uppercase;
}

ul {
	margin-left: 1em; /* compensates for outside position */
	list-style-type: square;
}

a {
	text-decoration: none;
	border-bottom: solid 1px #FFF;
}

a.current-page {
	padding-top: .25em;
	padding-right: .5em;
	padding-bottom: .25em;
	padding-left: .5em;
	color: #0000FF;
	background-color: #FFF;
	border-bottom: none;
}

.no-underline {
	border-bottom: none;
}

.mono-regular {
	font-family: "Fira Mono";
}

.mono-bold {
	font-family: "Fira Mono";
	font-weight: bold;
}

.project-title {
	margin-bottom: 0;
}

.project-keywords {
	margin-bottom: 1.5em;
}

/* color */

.secondary {
	color: #FFF; /* fallback */
	color: rgba(255, 255, 255, .70);
}

/* animation keyframes */

/* background color change */

@-webkit-keyframes background-color-change {
	0% {
    	background-color: #000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@-moz-keyframes background-color-change {
	0% {
    	background-color: #000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@-ms-keyframes background-color-change {
	0% {
    	background-color: #000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@-o-keyframes background-color-change {
	0% {
    	background-color: #000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

@keyframes background-color-change {
	0% {
    	background-color: #000;
  	}
  	100% {
    	background-color: #0000FF;
  	}
}

/* blinking text cursor */

@-webkit-keyframes blinking-text-cursor {
	50% {
    	border-right: 2px solid #FFF;
  	}
}

@-moz-keyframes blinking-text-cursor {
	50% {
    	border-right: 2px solid #FFF;
  	}
}

@-ms-keyframes blinking-text-cursor {
	50% {
    	border-right: 2px solid #FFF;
  	}
}

@-o-keyframes blinking-text-cursor {
	50% {
    	border-right: 2px solid #FFF;
  	}
}

@keyframes blinking-text-cursor {
	50% {
    	border-right: 2px solid #FFF;
  	}
}