/* CSS Document */

@charset "UTF-8";

/* generic layout */

* {
	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	border: none;
}

html {
	width: 100%;
 	height: 100%;
 	background-color: #0000ff;
 	 	
 	/* background color animation */
 	animation: background-color-change .5s ease 1;
	-webkit-animation: background-color-change .5s ease 1;
}

body {
	height: 100%;
	font-size: 16px;
}

img, video {
	border: 1px solid #0000b3;
}

a img:hover, input:hover, input:focus { 
    outline: 2px solid #b3b3ff;
    outline-offset: 0;
}

.clear {
	clear: both;
}

/* header and footer */

#name, #navigation {
	padding-top: 2em;
	text-align: center;
}

#name {
	padding-bottom: 2em;
}

#name h1 {
	display: inline-block;
	margin-bottom: 0;
	padding-right: .25em;
   	border-right: 2px solid transparent;
	text-align: center;
	
	/* blinking text cursor animation */
	animation: blinking-text-cursor 1s step-start 0s infinite;
	-webkit-animation: blinking-text-cursor 1s step-start 0s infinite;
}

#navigation {
	padding-bottom: 1em;
}

#navigation h3 {
	margin-bottom: .75em;
}

#push {
	height: 2em;
}

/* containing elements */

#wrapper {
	width: 36em;
	max-width: 90%;
	min-height: 100%;
	margin-top: -10em;
	margin-right: auto;
	margin-bottom: -10em;
	margin-left: auto;
}

#section-title-text {
	margin-bottom: 0;
}

#section-summary-text {
	padding-top: 1em;
	padding-bottom: 1em;
}

#section-summary-text:first-child {
	padding-top: 0;
}

#section-summary-text p {
	margin-bottom: 0;
}

/* content list */

#content {
	padding-top: 10em;
	padding-bottom: 10em;
}

#content-list {
	display: block;
	position: relative;
	list-style-type: none;
	text-indent: 0;
	margin: 0;
}

#content-list li {
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 2em;
	padding-left: 2em;
}

#content-list li:before {
	display: none;
}

#content-list li:first-child {
	margin-top: 1.5em;
}

#content-list li:first-child::after {
	top: .75em;
}

#content-list li:last-child::after {
	background: linear-gradient(to bottom, #0000b3, transparent);
}

.timeline::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3px;
	width: 2px;
	background-color: #0000b3;
	content: '';
}

.event p {
	margin-bottom: 0;
}

.event::after {
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: #0000b3;
	border-radius: 50%;
	content: '';
}

/* content components */

.content-title-wrapper {
	width: 100%;
	margin-bottom: 1em;
}

.content-title {
	margin-bottom: 0;
}

.content-metadata {
	margin-bottom: 1.5em;
}

.content-thumb, .content-thumb img {
	width: 100%;
}

a.content-thumb {
	display: block;
	line-height: 0;
	margin-bottom: 0;
	background: none;
}

.content-image {
	margin-bottom: 1.5em;
}

.content-image, .content-image * {
	display: block;
	position: relative;
	width: 100%;
}

.content-image-caption {
	position: relative;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .75em;
	margin-bottom: 0;
}

.content-image-caption h3 {
	margin-bottom: 0;
}

.content-image-caption::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	background: linear-gradient(to bottom, #0000b3, transparent);
	content: '';
}

/* authentication page */

#authenticate {
	width: 18em;
}

#submit-error li {
	padding: 1em;
	padding-left: 2.75em;
	color: #000;
	background-color: #fff;
	border: 1px solid #cc0000;
	border-left-width: 4px;
}

#submit-error li:before {
	top: .125em;
    left: -1.75em;
    font-size: 1em;
    content: "\f071";
    color: #cc0000;
}

input, .submit {
  	box-sizing: border-box;
  	padding-top: 1em;
  	padding-bottom: 1em;
}

input {
	position: relative;
    width: 100%;
    margin-bottom: 1em;
	padding: .5em;
	background-color: #fff;
	border: 1px solid #0000b3;
	border-radius: 0;
}

.input-content {
    position: relative;
    width: 100%;
}

.input-field {
	padding-right: 2.5em;
}

.input-icon {
	position: absolute;
    top: .625em;
    right: .75em;
    width: 1em;
    
    /* gray */ 
	color: #4d4d4d;
    
    /* icon */ 
    text-align: center;
    font-family: "FontAwesome";
}

#authenticate #password, #authenticate #submit-error {
	margin-bottom: 1.5em;
}

#password-icon:before {
    content: "\f023";
}

.submit {
	width: 100%;
	margin: 0;
	color: #fff;
	background-color: #0000b3;
  	cursor: pointer;
}

/* error page */

#bsod-link {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background: none;
}


#bsod, #authenticate {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#bsod {
	width: 36em;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
}

#bsod p {
	text-align: left;
}

#Windows {
	display: inline-block;
	padding-right: .5em;
	padding-left: .5em;
	background-color: #aaa;
}

p#Windows {
	color: #0000ff;
	text-align: center;
}

#bsod-cursor {
	color: #aaa;
	visibility: hidden;
	
	/* blinking underscore animation */
	animation: blinking-underscore 1s step-start 0s infinite;
	-webkit-animation: blinking-underscore 1s step-start 0s infinite;
}

/* fonts */

@font-face {
  	font-family: "Fira Sans";
  	src: url("../fonts/FiraSans-Light.eot?") format('eot'),
  		url("../fonts/FiraSans-Light.woff") format('woff'),
  		url("../fonts/FiraSans-Light.ttf") format('truetype');
}

@font-face {
  	font-family: "Fira Sans";
  	src: url("../fonts/FiraSans-LightItalic.eot?") format('eot'),
  		url("../fonts/FiraSans-LightItalic.woff") format('woff'),
  		url("../fonts/FiraSans-LightItalic.ttf") format('truetype');
  	font-style: italic;
}

@font-face {
  	font-family: "Fira Sans";
  	src: url("../fonts/FiraSans-Bold.eot?") format('eot'),
  		url("../fonts/FiraSans-Bold.woff") format('woff'),
  		url("../fonts/FiraSans-Bold.ttf") format('truetype');
  	font-weight: bold;
}

@font-face {
  	font-family: "Fira Sans";
  	src: url("../fonts/FiraSans-BoldItalic.eot?") format('eot'),
  		url("../fonts/FiraSans-BoldItalic.woff") format('woff'),
  		url("../fonts/FiraSans-BoldItalic.ttf") format('truetype');
  	font-weight: bold;
  	font-style: italic;
}

@font-face {
  	font-family: "Fira Mono";
  	src: url("../fonts/FiraMono-Regular.eot?") format('eot'),
  		url("../fonts/FiraMono-Regular.woff") format('woff'),
  		url("../fonts/FiraMono-Regular.ttf") format('truetype');
}

@font-face {
  	font-family: "Fira Mono";
  	src: url("../fonts/FiraMono-Bold.eot?") format('eot'),
  		url("../fonts/FiraMono-Bold.woff") format('woff'),
  		url("../fonts/FiraMono-Bold.ttf") format('truetype');
  	font-weight: bold;
}

@font-face {
  	font-family: "FontAwesome";
  	src: url("../fonts/FontAwesome.eot?") format('eot'),
  		url("../fonts/FontAwesome.woff") format('woff'),
  		url("../fonts/FontAwesome.ttf") format('truetype');
}

/* styles */

::selection {
	color: #000;
    background-color: #ffff00;
}

::-moz-selection {
	color: #000;
    background-color: #ffff00;
}

p, h1, h3, ul, a {
	color: #fff;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

p, ul, input {
	font-family: "Fira Sans";
	font-size: 1em; /* 16 x 1 = 16 */
}

h1 {
	font-family: "Fira Sans";
	font-size: 1.5em; /* 16 x 1.5 = 24 */
}

h3, .submit {
	font-family: "Fira Mono";
	font-size: .75em; /* 16 x .75 = 12 */
	letter-spacing: 1px;
	text-transform: uppercase;
}

ul, #submit-error {
    list-style-type: none;
}

li {
	padding-left: .625em;
}

li:before, #submit-error li:before {
    display: inline-block;
    position: relative;
    width: 0;
    font-family: "FontAwesome";
}

li:before {
	top: -.0625em;
    left: -1em;
    font-size: .625em;
    content: "\f0da";
}

a {
	text-decoration: none;
	background: linear-gradient(to bottom, transparent 0, transparent 40%, #0000b3 40%, #0000b3 100%);
}

a.current-page {
	padding-top: .25em;
	padding-right: .5em;
	padding-bottom: .25em;
	padding-left: .5em;
	color: #0000ff;
	background-image: none;
	background-color: #fff;
}

.mono-regular {
	font-family: "Fira Mono";
}

.mono-bold {
	font-family: "Fira Mono";
	font-weight: bold;
}

.font-icon {
	font-family: "FontAwesome";
	padding-right: .25em;
	padding-left: .25em;
}

/* color */

.secondary {
	color: #b3b3ff;
}

/* animation keyframes */

/* blinking underscore */

@keyframes blinking-underscore {
	50% {
    	visibility: visible;
  	}
}

@-webkit-keyframes blinking-underscore {
	50% {
    	visibility: visible;
  	}
}

/* blinking text cursor */

@keyframes blinking-text-cursor {
	50% {
    	border-right: 2px solid #fff;
  	}
}

@-webkit-keyframes blinking-text-cursor {
	50% {
    	border-right: 2px solid #fff;
  	}
}

/* background color change on load */

@keyframes background-color-change {
	0% {
    	background-color: #0000b3;
  	}
  	100% {
    	background-color: #0000ff;
  	}
}

@-webkit-keyframes background-color-change {
	0% {
    	background-color: #0000b3;
  	}
  	100% {
    	background-color: #0000ff;
  	}
}